.loginWrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    .cont{
        width: 30%;
    }
    .linkText{
        display: flex;
        justify-content: end;
        .linkPlaintxt{
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
}

@media screen and ( max-width:900px){
    .loginWrapper{
        justify-content: start;
        padding: 3rem 2rem;
        .cont{
            width: 80%;
        }
    }
}