.loginWrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ebbdaf;
    background-image: linear-gradient(#ffbca7d1,#f6ead8);
    height:100vh;
    .cont{
        width: 50%;
    }
    .formStyles{
        background-color: #dfbac0;
        input{
            background-color: #f6ead8;
        }
    }
    
    .linkText{
        display: flex;
        justify-content: end;
        .linkPlaintxt{
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
}

@media screen and ( max-width:900px){
    .loginWrapper{
        justify-content: start;
        padding: 8rem 2rem;
        align-items: start;
        .cont{
            width: 80%;
        }
    }
}