.chatcontainer{
background-color: #dfdfdf;  
height: 100vh;
position: relative;
.chatHeader{
  background-color: #e7bfbf;
  padding:4rem;
}
.chatConetnt{
  display: grid;
  grid-template-columns: 20rem 1fr;
  position: absolute;
  top: 2rem;
  left: 15rem;
  width: calc(100vw - 25rem);
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #948484;
}
}

@media screen and ( max-width:1000px){
  .chatConetnt{
    left: 3rem !important;
    width: calc(100vw - 5rem) !important;
    grid-template-columns: 10rem 1fr !important;
  }
}

@media screen and ( max-width:650px){
  .chatRoom{
    display: none;
  }
  .chatConetnt{
    display: block !important;
     position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    grid-template-columns: 1fr;
  }
  .contactHide, .chatHeader{
    display: none !important;
  }
  .chatRoomVisible{
    display: block !important;
  }
  .contacts{
     height: calc(100vh - 2rem) !important;
     overflow: scroll;
  }
}